<div class="container">
<h1> Index Page of TDL </h1>

<table class="table">
  <thead>
    <tr>
      <th> todo </th>
      <th> isdone </th>
    </tr>
  </thead>

  <tbody>
    <% @tdls.each do |tdl| %>
    <tr> 
      <td> <%= tdl.todo %> </td>
      <td> <%= tdl.isdone %> </td>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>
</div>
