<!DOCTYPE html>
<html>
<head>
  <title>Tiny</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<!-- start of menu -->
<div class = "navbar navbar-inverse navbar-static-top">
<div class = "container">
<a class = "navbar-brand active">TDL</a>
</div>
</div>
<!-- end of menu -->

<%= yield %>
<!-- start of footer -->
<div class = "navbar navbar-default navbar-fixed-bottom">
<div class = "container">
<p class = "navbar-text pull-left">Builded By Justinsanity</p>
</div>
</div>
<!-- end of footer -->
</body>
</html>
